.Smartphones {
    width: 1440px;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.t{
    width: 227px;
    height: 295px;
    border: 1px solid black;
    display: flex;
    margin: 1.5rem;
    border-radius: 18px;
}
.orden{
    display: flex;
    flex-direction: column;
}
.d1{
    width: 225px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    position: relative;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.c{
    position: absolute;
    right: 0px;
    top: 0px;
}
.off{
    display: flex;
    position: absolute;
    top: 3px;
    right: 5px;
    color: white;
    font-size: 16px;
}
t1{
    width: 84px;
    height: 158px;
}
.orden2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.d2{
    width: 225px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    color: #222222;
}
.d3{
    width: 225px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: #249B3E;
}
