.Top{
    width: 1440px;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding-bottom: 10rem;
}
.div1{
    width: 132px;
    height: 172px;
    border: 1px solid black;
    margin: 2.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.ele{
    width: 132px;
    height: 132px;
    border-radius: 360px;
    border: 1px solid #008ECC;
    margin-top: -0.1rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
.ele2{
    width: 132px;
    height: 132px;
    border-radius: 360px;
    margin-top: -0.1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    font-size: 13px;
}
.cir {
    width: 52px;
    height: 98px;
}
.cir2 {
    width: 60px;
    height: 113px;
}
.cir3 {
    width: 132px;
    height: 132px;
}
.cir4 {
    width: 124px;
    height: 124px;
}
.cir5 {
    width: 92px;
    height: 92px;
}
.cir6 {
    width: 118px;
    height: 118px;
}
.cir7 {
    width: 124px;
    height: 124px;
}