.padre {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hijo1 {
    width: 1440px;
    height: 3035px;
    border: 1px solid black;
}
.hijo2{
    width: 1440px;
    height: 90px;
    border: 1px solid black;
}
.hijo3{
    width: 1440px;
    height: 69px;
    border: 1px solid black;
}
.hijo4{
    width: 1440px;
    height: 224rem;
    border: 1px solid black;
}
.hijo5{
    width: 1440px;
    height: 592px;
    border: 1px solid black;

}